<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="/public/css/styles.css">
  <title>Space tourism website crew-specialist</title>
</head>

<body class="crewBody">
  <div class="homeMainDiv">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="48" height="48">
      <g fill="none" fill-rule="evenodd">
        <circle cx="24" cy="24" r="24" fill="#FFF" />
        <path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z" />
      </g>
    </svg>
    <div class="mainNav navigation-Bar">
      <div id="navigation-container">
        <ul>
          <li><a class="over-underline-animation" href="#"><span class="spanClass">03</span> Technology</a></li>
          <li><a class="over-underline-animation" href="/views/crew-engineer.html"><span class="spanClass">02</span>
              Crew</a></li>
          <li><a class="over-underline-animation" href="/views/destination-mars.html"><span class="spanClass">01</span>
              Destination</a></li>
          <li><a class="over-underline-animation" href="/views/index.html"><span class="spanClass">00</span> Home</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="horizontalLine">
    <div class="pickYourDestinationDiv">
      <h3> <span>02</span> MEET YOUR CREW</h3>
      <div class="flightCrewMainDiv">
        <p class="flightCrewTitle">MISSION SPECIALIST</p>
        <p class="flightCrewName">Mark Shuttleworth</p>
        <p class="flightCrewDescription">Mark Richard Shuttleworth is the founder and CEO of Canonical, the company
          behind
          the Linux-based Ubuntu operating system. Shuttleworth became the first South
          African to travel to space as a space tourist.</p>
      </div>
      <img class="flightCrewImg" src="/public/images/assets/crew/image-mark-shuttleworth.webp" alt="">
    </div>
    <div class="dotstyle dotstyle-fillup">
      <ul>
        <li class="current"><a href="/views/crew-engineer.html">FLIGHTENGINNER</a></li>
        <li><a href="/views/crew-pilot.html">PILOT</a></li>
        <li><a href="/views/crew-commander.html">COMMANDER</a></li>
        <li><a href="#">SPECIALIST</a></li>
      </ul>
    </div>
  </div>
</body>

</html>