<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">

  <title>Space tourism website-titan</title>
</head>

<body class="destinationBody">
  <div class="homeMainDiv">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="48" height="48">
      <g fill="none" fill-rule="evenodd">
        <circle cx="24" cy="24" r="24" fill="#FFF" />
        <path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z" />
      </g>
    </svg>
    <div class="navigation-Bar">
      <div id="navigation-container">
        <ul>
          <li><a class="over-underline-animation" href="#"><span class="spanClass">03</span> Technology</a></li>
          <li><a class="over-underline-animation" href="#"><span class="spanClass">02</span> Crew</a></li>
          <li><a class="over-underline-animation" href="#"><span class="spanClass">01</span>
              Destination</a></li>
          <li><a class="over-underline-animation" href="/views/index.html"><span class="spanClass">00</span> Home</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="horizontalLine">


    <div class="pickYourDestinationDiv">
      <h3> <span>01</span> PICK YOUR DESTINATION</h3>
      <br>
      <br>
      <br>
      <br>
      <img class="marsImg" src="/public/images/assets/destination/image-moon.webp" alt="">
    </div>
    <div class="planetsDivUl">
      <ul class="planetUl">
        <li><a class="planetA" href="/views/destination-titan.html">TITAN</a></li>
        <li><a class="planetA" href="/views/destination-europa.html">EUROPA</a></li>
        <li><a class="planetA" href="/views/destination-mars.html">MARS</a></li>
        <li><a class="planetA" href="/views/destination-moon.html">MOON</a></li>
      </ul>
    </div>
    <div class="planetsDetails">
      <p class="planetsName">TITAN</p>
      <p class="planetsDescription">The only moon known to have a dense atmosphere other than Earth, Titan
        is a home away from home (just a few hundred degrees colder!). As a
        bonus, you get striking views of the Rings of Saturn.</p>
      <hr class="horizontalLine2">
      <p class="averageDistance">Avg. distance</p>
      <p class="estimatedTravelTime">Est. travel time</p>
      <p class="averageDistanceValue">1.6 bil. km</p>
      <p class="estimatedTravelTimeValue">7 years</p>
    </div>
  </div>
</body>

</html>